* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: -apple-system,Helvetica,sans-serif;
    /* scroll-behavior: smooth;   */
}
    
a {
    text-decoration: none;
    color: #fff;
}

nav {
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 1.3rem;
    background: rgb(251,244,244);
    background: linear-gradient(90deg, rgba(251,244,244,1) 0%, rgba(207,207,226,1) 80%, rgba(216,214,254,1) 100%);
    box-shadow: 0px 2px 7px #b3afaf;
}

.logoIcon {
    font-size: 26px;
    font-weight: bold;
    color: #2f337e;
}

.colorear {
    color: rgb(108, 110, 206);
}

.fa-graduation-cap {
    color: #232553;
    font-size: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
    margin-right: 2rem;
}

ul > li > a {
    padding: 10px 12px;
    font-size: 16px;
    color: #232553;
    border-radius: 8px;
    font-family: sans-serif;
    background: transparent;
    transition: background .5s ease;  
    font-weight: 700;
}

ul > li > a:hover {
    background:  rgb(240, 237, 237);
}

.contentPresentation {
    height: calc( 100vh - 70px );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(251,244,244);
    background: linear-gradient(90deg, rgba(251,244,244,1) 0%, rgba(207,207,226,1) 80%, rgba(216,214,254,1) 100%);
    box-shadow: 0px 2px 7px #b3afaf;
}

.textPresentation > h4 {
    color: #232553;
    font-size: 1.2rem;
    align-self: flex-start;
    margin-top: 5rem;
    font-weight: 200;
}

.textPresentation > h4 > a{
    color: #232553;
    text-decoration: underline;
}
.Inscriptions {
    font-weight: bold;
    font-size: 1rem;
}

.bodyPresentation {
    display: flex;
    justify-content: center;  
    width: 100%;
    margin-left: -1rem;
}

.textPresentation {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 4px;
}

.textPresentation > h3 {
    font-size: 2.4rem;
    color: #232553;
    margin-bottom: 1.2rem;
}

.textPresentation > p {
    font-family: 15px;
    width: 70%;
    margin-bottom: 0.5rem;
    text-align: justify;
    color: #1a1c5e;
}

.textPresentation > small {
    font-size: 17px;
    font-weight: bolder;
    color: #232553;
}


.imagePresentation {
    width: 35%;
}

.imagePresentation > img {
    width: 100%;
    max-height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 12px 12px 15px 5px #bdbae4;
}

/*Seccion acerca del curso*/

.contentAboutCourse {
    background-color: rgba(210, 224, 224, 0.226);
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.displayInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 3rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    width: 320px;
    padding: 13px 10px;
    border: 1px solid rgb(226, 220, 220); 
    transition: background .3s ease; 
    background: rgb(246, 245, 251);
}

.info:hover {
    background: rgb(249, 248, 252);
}

.iconsAbout {
    font-size: 35px;
    margin-bottom: 1.3rem;
    color: #232553;
}
.green{ color: rgb(13, 41, 13); }
.subTitleInfo {
    font-weight: 200;
    font-size: 18px;
    color: #232553; 
    margin-bottom: 0.7rem;
}

.parrafoInfo {
    text-align: justify;
    font-size: 16px;
    padding: 0px 7px;
    margin-bottom: 1rem;
    color: #131414;
}

.aboutImg {
    width: 40%;
    align-self: flex-start;
    margin-top: 7%;
    transition: padding-right .4s ease;
}

.aboutImg > img {
    width: 100%;
    max-height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 2px 15px 5px #d5dcdf;
}

/*Video zac explicando about video*/

.sectionVideo {
    margin: 6rem 0px 2rem 0px;
}

.sectionVideo > h2 {
    color: #2f337e;
    font-size: 40px;
    text-align: center;
}

.FatherContent {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 1.1rem;
    margin: 5% 20px 10px 20px;
}
.columnVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}

.columnVideo > p{
    font-size: 25px;
    margin-bottom: 1rem;
    color: #2f337e;
}

.columnVideo > iframe {
    margin-bottom: 0.8rem;
    border-radius: 7px;
    box-shadow: 0px 0px 15px -1px #938fcf;
}

.enlaceColum{
    color: rgb(253, 252, 252);
    font-size: 18px;
    background: #2f337e;
    padding: 8px;
    border-radius: 7px;
    transition: box-shadow .4s ease;
}

.enlaceColum:hover {
    box-shadow: 0px 0px 15px -1px #555280;
}

.imageSectionVideo > p{
    font-size: 34px;
    color: #2a2e80;
}

#videoImgSvg {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0px 8px 15px -5px #bdbae4;
}

/*Seccion niveles*/
.sectionNiveles {
    background: linear-gradient(90deg, rgba(251,244,244,1) 0%, rgba(207,207,226,1) 80%, rgba(216,214,254,1) 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.infoNivelesContent {
    margin: auto;
    padding: 5px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}
.cabecera {
    font-size: 30px;
    text-align: center;
    color: #2f337e;
    margin-bottom: 0.8rem;
    font-weight: bold;
}

.infoDetalles {
    padding: 0px 15%;
    text-align: center;
    word-wrap: break-word;
    line-height: 20px;
    font-size: 20px;
}  

.cardsContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 3% 5%;
}

.cardsNiveles {
    text-align: center;
    margin: auto;
    padding: 6px;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 2px rgb(132 127 127 / 40%);
}

.cardsNiveles > h3 {
    margin: 0.5rem 0px;
    color: #1a1c5e;
}

.cardsNiveles > p {
    word-wrap: break-word;
    padding: 0px 6%;
    font-size: 17px;
    text-align: justify;
    margin-bottom: 1.4rem;
}

.cardsNiveles > iframe {
    border-radius: 5px;
    width: 90%;
    height: 270px;
    object-fit: cover;
}

/*Seccion testimonios*/

.sectionTestimonio {
    width: 100%;
    padding: 20px;
    margin-bottom: 3rem;
}
.CabeceraContentTestimonio {
    width: 80%;
    margin: auto;
}
.contenGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
    margin-top: 3rem;
}
.Testimonio {
    background: linear-gradient(90deg, rgb(247, 239, 239) 0%, rgb(197, 197, 219) 80%, rgb(213, 210, 253) 100%);
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    transition: background .6s ease;
}

.avatarEstudiante {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.2rem;
}
.nombreEstudiante { 
    font-size: 23px;
    color: #2a2e80;
    margin-bottom: 1rem;
}

.testimonioText {
    padding: 0px 15px;
    line-height: 22px;
    text-align: justify;
    color: #000000;
}

/*Seccion contacto*/
.sectionContacto {
    background-color:#faf1f18f;
    padding: 20px 20px 20px 40px;
    color: #5c5353;
    text-align: center;
}

.titleContacto {
    text-align: center;
    font-size: 28px;
    margin-bottom: 0.7rem;
    color: #2c32a0;
}

.CabeceraTituloContacto > p{
   margin: auto;
   margin-top: 1rem;
   /* width: 68%; */
   color: #000;
   font-size: 17px;
}
.enlaces{
    color: #5458b1;
    font-size: 19px;
    text-decoration: underline;
    transition: color .4s ease;
}

.enlaces:hover{
    color: #2c32a0; 
}

.contentSocialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
}
.resizeSocialMedia {
    width: 28px;
    height: 28px;
    margin-top: 1.2rem;
    margin-right: 16px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.resizeSocialMedia:hover  {
    -webkit-transform: scale(1.24);
    -moz-transform: scale(1.24);
}


article {
    width: 60%;
    margin: 5% auto 5% auto;
    /* background-color: #5c5353; */
    text-align: center;
}

article > h3 {
    margin-bottom: 1rem;
    font-size: 30px;
    color: #2c32a0;
}
article > p > a {
    color: #2c32a0;
    margin-top: 2rem;
    font-size: 17px;
}
#unirse {
 
    text-decoration: underline;
}
